:root {
    --red: #ec0000;
}

nav {
    width: 100%;
    height: 80px;
}

nav .logo img {
    width: 30px;
}

nav #navigation ul {
    width: 100%;
}

#navigation ul li a {
    text-decoration: none;
    color: white;
}

#navigation ul li a i {
}

nav #navigation {
    position: absolute;
    border-radius: 20px;
}

nav #login i {
    font-size: 30px;
}
